// --------------------------------------------------------
// 1. PALETTE MONOCHROME (NOIR / BLANC / BEIGE / GRIS)
// --------------------------------------------------------
$gi-white:      #FFFFFF;
$gi-beige:      #F7F6F3; // Fond du site
$gi-grey-light: #ECEBEA; // Boutons & Hovers
$gi-grey-dark:  #333333;
$gi-black:      #111111; // Texte

// --------------------------------------------------------
// 2. SURCHARGE DU THÈME
// --------------------------------------------------------

// Fonds
$body-background-color: $gi-beige;
$sidebar-color:         $gi-white;

// Textes
$body-text-color:       $gi-black;
$body-heading-color:    $gi-black;
$link-color:            $gi-black; // Force les liens en noir

// Navigation
$sidebar-border-color:  #E1E1E1;
$nav-child-link-color:  $gi-grey-dark;

// Composants
$code-background-color: $gi-white;
$table-header-background-color: $gi-grey-light;
$table-background-color: $gi-white;
$border-color:          #E1E1E1;

// Recherche
$search-background-color: $gi-white;