// 1. PALETTE DE BASE
$gi-white:      #FFFFFF;
$gi-beige:      #F7F6F3;
$gi-text:       #575652;
$gi-border:     #e1e4e8;

// 2. SURCHARGE DES VARIABLES DU THÈME
// On map les couleurs du thème sur notre palette

$body-background-color: $gi-beige;
$body-text-color:       $gi-text;
$body-heading-color:    $gi-text;

$sidebar-color:         $gi-white;
$sidebar-border-color:  transparent; // Pas de bordure via SASS

$link-color:            $gi-text;
$nav-child-link-color:  #666;

$code-background-color: $gi-white;
$table-header-background-color: #fafbfc;
$table-background-color: $gi-white;
$border-color:          $gi-border;

$search-background-color: $gi-white;

// On neutralise les variables de boutons ici pour éviter le violet par défaut
$btn-primary-color: #fff;
$btn-primary-background-color: #333;