// --------------------------------------------------------
// 1. PALETTE MONOCHROME
// --------------------------------------------------------
$gi-white:      #FFFFFF;
$gi-beige:      #F7F6F3;
$gi-grey-btn:   #ECEBEA; // Gris bouton
$gi-grey-dark:  #333333;
$gi-black:      #111111;

// --------------------------------------------------------
// 2. SURCHARGE DES VARIABLES DU THÈME
// --------------------------------------------------------

$body-background-color: $gi-beige;
$sidebar-color:         $gi-white;
$body-text-color:       $gi-black;
$body-heading-color:    $gi-black;
$link-color:            $gi-black;

$sidebar-border-color:  #E1E1E1;
$nav-child-link-color:  $gi-grey-dark;

$code-background-color: $gi-white;
$table-header-background-color: $gi-grey-btn;
$table-background-color: $gi-white;
$border-color:          #E1E1E1;

$search-background-color: $gi-white;

// --- CORRECTION BOUTONS ---
// On force les variables SASS du thème à utiliser le gris
$btn-primary-color: $gi-black;
$btn-primary-background-color: $gi-grey-btn;
$btn-primary-border-color: darken($gi-grey-btn, 10%);