// --------------------------------------------------------
// 1. DÉFINITION DES COULEURS GETINSIDE
// --------------------------------------------------------
$gi-beige:      #F7F6F3; // Fond du site
$gi-white:      #FFFFFF; // Sidebar
$gi-yellow:     #EBE82D; // Jaune (Bouton Primaire)
$gi-mint:       #6AE7C8; // Menthe (Bouton Secondaire)
$gi-grey:       #ECEBEA; // Hover / Selected
$gi-black:      #111111; // Texte
$gi-border:     #E1E1E1;

// --------------------------------------------------------
// 2. MAPPING DES VARIABLES DU THÈME
// --------------------------------------------------------

// Fonds et Textes
$body-background-color: $gi-beige;
$sidebar-color:         $gi-white;
$body-text-color:       $gi-black;
$body-heading-color:    $gi-black;

// Navigation
$sidebar-border-color:  $gi-border;
$nav-child-link-color:  #444;

// Liens (Noir pour la lisibilité)
$link-color:            $gi-black;

// Composants (Code & Tableaux)
$code-background-color: $gi-grey;
$table-header-background-color: $gi-grey;
$table-background-color: $gi-white;
$border-color:          $gi-border;

// Barre de recherche (Fond blanc pour ressortir sur le beige)
$search-background-color: $gi-white;