// --------------------------------------------------------
// 1. PALETTE NEUTRE
// --------------------------------------------------------
$gi-white:      #FFFFFF;
$gi-beige:      #F7F6F3;
$gi-text:       #282824; // Noir/Gris foncé
$gi-border:     #e1e4e8;

// --------------------------------------------------------
// 2. SURCHARGE DES VARIABLES
// --------------------------------------------------------

$body-background-color: $gi-beige;
$body-text-color:       $gi-text;
$body-heading-color:    $gi-text;
$sidebar-color:         $gi-white;
$sidebar-border-color:  $gi-border;

$link-color:            $gi-text; // Liens noirs par défaut
$nav-child-link-color:  #555;

// Force les boutons du thème en neutre dès la compilation
$btn-primary-color: #333;
$btn-primary-background-color: #fff;
$btn-primary-border-color: #ccc;

$code-background-color: $gi-white;
$table-header-background-color: #fafbfc;
$table-background-color: $gi-white;
$border-color:          $gi-border;

$search-background-color: $gi-white;