// 1. PALETTE DE BASE
$gi-white:      #FFFFFF;
$gi-beige:      #F7F6F3;
$gi-text:       #575652;
$gi-border:     #e1e4e8;

// 2. SURCHARGE THÈME
$body-background-color: $gi-beige;
$body-text-color:       $gi-text;
$body-heading-color:    $gi-text;
$sidebar-color:         $gi-white;
$sidebar-border-color:  $gi-border;

$link-color:            $gi-text;
$nav-child-link-color:  #666;

$code-background-color: $gi-white;
$table-header-background-color: #fafbfc;
$table-background-color: $gi-white;
$border-color:          $gi-border;

$search-background-color: $gi-white;

// On force les boutons du thème à être neutres
$btn-primary-color: #333;
$btn-primary-background-color: #fff;