// --------------------------------------------------------
// 1. PALETTE NEUTRE & SEMANTIQUE
// --------------------------------------------------------
$gi-white:      #FFFFFF;
$gi-beige:      #F7F6F3;
$gi-text:       #575652;
$gi-border:     #e1e4e8;

// Couleurs sémantiques (Restaurées pour les process)
$green-000:     #2da44e; // Vert succès
$red-000:       #cf222e; // Rouge erreur/attention

// --------------------------------------------------------
// 2. SURCHARGE DU THÈME
// --------------------------------------------------------

$body-background-color: $gi-beige;
$body-text-color:       $gi-text;
$body-heading-color:    $gi-text;
$sidebar-color:         $gi-white;
$sidebar-border-color:  $gi-border;

$link-color:            $gi-text;
$nav-child-link-color:  lighten($gi-text, 10%);

$code-background-color: $gi-white;
$table-header-background-color: #fafbfc;
$table-background-color: $gi-white;
$border-color:          $gi-border;

$search-background-color: $gi-white;

// Neutralisation des boutons par défaut du thème
$btn-primary-color: #fff;
$btn-primary-background-color: #24292e;