{% if include.url and include.url != "#" %}
<a href="{{ include.url }}" class="gi-card-link">
    {% else %}
    <div class="gi-card-static">
        {% endif %}

        <div class="gi-card {% if include.layout == 'horizontal' %}horizontal{% endif %}">
            {% if include.icon and include.icon != "" %}
            <div class="gi-card-icon">{{ include.icon }}</div>
            {% endif %}
            <div class="gi-card-content">

                <div class="gi-card-title">{{ include.title }}</div>
                <p class="gi-card-desc">{{ include.desc }}</p>
            </div>
            {% if include.arrow %}
            <div class="gi-card-arrow">➝</div>
            {% endif %}
        </div>
        {% if include.url and include.url != "#" %}
</a>
{% else %}
</div>
{% endif %}